@media (max-width: 1024px) {
  .menu {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    &__btn {
      display: flex;
      &.menu__btn--active {
        span {
          transform: scale(0);
        }
        &::before {
          top: 48%;
          transform: rotate(-45deg);
        }
        &::after {
          top: 48%;
          transform: rotate(45deg);
        }
      }
    }
    &__list {
      position: fixed;
      top: 0;
      right: 0;
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      grid-template-columns: 1fr;
      gap: 20px;
      padding-top: 110px;
      width: 320px;
      min-height: 100vh;
      background-color: #4e7ca5;
      will-change: transform;
      transform: translateX(200%);
      transition: all 0.3s;
      &.menu__list--active {
        transform: translateX(0);
      }
    }
    &__link {
      padding: 25px;
      font-size: 24px;
    }
    &__login {
      position: fixed;
      font-size: 24px;
      right: 182px;
      transform: translateX(370%);
      &.menu__login--active {
        transform: translateX(0);
      }
    }
  }
}
